a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  max-height: auto;
}

h1 {
  font-size: 3em;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

header {
  background: url("../images/cover.jpg") bottom;
  background-size: cover;
  padding: 100px 0;
  color: #fff;
  -webkit-text-shadow: -1px 1px 3px #333;
  -moz-text-shadow: -1px 1px 3px #333;
  -ms-text-shadow: -1px 1px 3px #333;
  -o-text-shadow: -1px 1px 3px #333;
  text-shadow: -1px 1px 3px #333;
}
header a {
  color: #fff;
}
header a:hover {
  color: #f2f2f2;
}

article {
  padding-bottom: 75px;
  margin-bottom: 75px;
  border-bottom: 1px solid #ebf2f6;
}
article h2 a {
  color: #333333;
  text-decoration: none;
}
article small {
  color: #9eabb3;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
article p {
  line-height: 1.6em;
}

article:after {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -6px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #FFF 0 0 0 5px;
}

.pagination {
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 2em;
}
.pagination .btn {
  position: absolute;
  padding: 0 15px;
  border: #EBF2F6 2px solid;
  text-decoration: none;
  border-radius: 30px;
  transition: border ease 0.3s;
  color: #9EABB3;
}
.pagination .right {
  right: 0;
}
.pagination .left {
  left: 0;
}

code, pre {
  background: #eee;
  display: block;
  border-left: 6px solid #BBB;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 15px;
}

.nav-link {
  margin-top: 15px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.social-icons {
  width: 150px;
}
.social-icons h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.social-icons a {
  margin: 0 10px 0 0;
  color: #666666;
  font-size: 1.2em;
}
.social-icons a:hover {
  color: #333333;
}

footer {
  background: #F7FAFB;
  padding: 25px 0 75px 0;
  margin-top: 50px;
  border-top: 1px solid #ebf2f6;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #BBC7CC;
  font-size: 16px;
}
footer .social-icons {
  width: auto;
  padding: 50px 0 25px 0;
}
footer .social-icons a {
  margin: 0 15px 0 0;
}
footer .social-icons a:last-child {
  margin: 0;
}
footer a {
  color: #999999;
}
footer a:hover {
  color: #666666;
  text-decoration: none;
}
